/* header styling*/

.header {
    overflow: hidden;
    background-color: #fffccc;
    padding: 20px 10px;
    
  }
  
  .header .logo {
    font-size: 25px;
    font-weight: bold;
    color:#452f32;
    text-align: center;
  

  }

 
  /*table styling*/

  @media screen and (max-width: 500px) {
    .table-wrapper
    {
        overflow-x:auto;
        margin-bottom: 0px
    }
    .footer {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        background-color:   #452f32;
        color: white;
        text-align: center;
      }
    .header a {
      float: none;
      display: block;
      text-align: left;
    }
    .header-right {
      float: none;
    }
    /*tabe styling*/
    #students {
        font-family: Arial, Helvetica, sans-serif;
        border-collapse: collapse;
        border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  
      }
      
      #students td, #students th {
        border: 1px solid #452f32;;
        text-align: left;
         padding: 8px;
      }
      
      #students tr:nth-child(even){background-color: #f2f2f2;}
      
      #students tr:hover {background-color: #ddd;}
      
      #students th {
       
        text-align: left;
        background-color:  #452f32;
        color: white;
      }
      
  }
  #students {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  #students td, #students th {
    border: 1px solid  #452f32;
    padding: 8px;
  }
  
  #students tr:nth-child(even){background-color: #f2f2f2;}
  

  
  #students th {
 
    text-align: left;
    background-color:  #452f32;
    color: white;
  }
  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:  #452f32;
    color: white;
    text-align: center;
  }
  .button-primary
  {
    background-color:  #452f32;
    color: white;
    margin:20px;
    border-radius: 50px;
    height:60px;
  }
.table-wrapper
{
    overflow-x:auto;
    margin-bottom: 400px
}
  